h1{
    background-color: aqua;
    height: 200px;
    width: 300px;
    /* border-width: 10px;
    border-style: dashed;
    border-color: greenyellow; */

    border: 2px solid goldenrod;
    /* padding: 1px;
    margin: 2px; */
    padding-right: 30px;
    /* padding: 10px 15px 20px 25px; */
    margin: 10px 15px 20px 25px;
}
h2{
    background-color: pink;
    border: 2px solid blue;
}
p{
    background-color: aquamarine;
    margin: 2px;
    padding: 10px;
}
